services:
  web:
    build: .
    volumes:
      - .:/app
    expose:
      - "8000"  
    env_file:
      - .env

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"  
    depends_on:
      - web