---
- hosts: webservers 
  become: yes  
  tasks:
    - name: Update package list
      apt:
        update_cache: yes

    - name: Clone the Django app from GitHub
      git:
        repo: "https://github.com/Laban254/customer-management-api"
        dest: /home/ubuntu/mydjangoapp
        force: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start and enable Docker service
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Install Docker Compose
      shell: |
        sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose

    - name: Verify Docker Compose installation
      command: docker-compose --version
      register: compose_version

    - name: Display Docker Compose version
      debug:
        msg: "Docker Compose version installed: {{ compose_version.stdout }}"
