name: CD -

on:
  push:
    branches: 
      - deploy
    paths-ignore:
      - "README.md"
      - ".github/workflows/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Save Private Key
        run: |
          echo "${{ secrets.EC2_PRIVATE_KEY }}" > /tmp/id_rsa.pem
          chmod 600 /tmp/id_rsa.pem

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ubuntu
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            git config --global --add safe.directory /home/ubuntu/mydjangoapp
            cd /home/ubuntu/mydjangoapp
            git stash -u  
            git pull origin deploy
            docker-compose up -d --build
            docker-compose restart web
            if git diff --quiet HEAD~1 nginx/nginx.conf; then
              echo "Nginx configuration not modified. No need to restart."
            else
              echo "Nginx configuration modified. Restarting Nginx..."
              sudo systemctl restart nginx
            fi
            
            echo "Deployment completed successfully."